/* General */

/* Navigation Banner */

.nav-banner {
    position: fixed;
    top: -1%;
}

#dropdown-menu {
    display: block;
    margin: 0 auto;
    width: 100px;
}

/* Navigation Screen */

html, body {
    height: 100%;
    margin: 0;
}

.nav-screen {
    background-color: aliceblue;
    min-height: 100%;
    position: fixed;
    visibility: hidden;
    z-index: 1000;
}

.placeholder-row {
    height: 100px;
}

.row {
    padding-top: 80px;
}

    /* 3 Icons */

    .fa {
        font-size: 45px;
    }

    .portfolio {
        padding-right: 35px;
        text-align: right;
    }

.nav-list-item {
    font-size: 32px;
    letter-spacing: 0.15em;
    visibility: hidden;
}

    /* Pull up menu */

    .close-nav {
        position: fixed;
        bottom: -1%;

        width: 100%;
    }

    #pullup-menu {
        display: block;
        margin: 0 auto;
        width: 100px;
    }

/* Index.html */

/* Contact.html */

/* Portfolio.html */